<mat-list>
  <mat-list-item>
    <mat-icon>mail</mat-icon>&nbsp;<a href="mailto:robert.szeps@hotmail.com">robert.szeps@hotmail.com</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>phone</mat-icon>&nbsp;<a href="tel:0046704597596">+46704597596</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>link</mat-icon>&nbsp;<a href="https://www.linkedin.com/in/robertelger" target="_blank">LinkedIn</a>
  </mat-list-item>
</mat-list>
