<mat-sidenav-container autosize>
  <mat-sidenav opened #sidenav mode="side">

    <!-- DESKTOP -->
    <mat-accordion [fxHide.lt-sm]="true" displayMode="flat">
      <mat-expansion-panel hideToggle *ngFor="let nav of navs">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{nav.icon}}</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            {{nav.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let child of nav.paths" [routerLink]="['pages/'+child.toLowerCase()]">{{child}}</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- MOBILE -->
    <div [fxHide.gt-xs]="true" fxLayout="column">
      <span *ngFor="let nav of navs">
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let child of nav.paths"
            [routerLink]="['pages/'+child.toLowerCase()]">{{child}}</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>{{nav.icon}}</mat-icon>
        </button>
      </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
