mat-sidenav-container {
  height: 90vh;
}

mat-toolbar {
  overflow: visible;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 10vh;
}
