<mat-accordion displayMode="flat" multi>
  <mat-expansion-panel expanded hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Basic Info
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>Robert Szeps</mat-card-title>
        <mat-card-subtitle>System developer</mat-card-subtitle>
        &bull;&nbsp;1991-11-28
      </mat-card-header>
      <mat-card-content>
        <p>
          Robert is a system developer.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Work experience
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        2016 - 2020, SCANIA
      </mat-list-item>
      <mat-list-item>
        2016 - 2020, Shopjoy
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Education
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        2011 - 2016, Economics, Stockholm University
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Courses
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        2018, AWS
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Languages
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        Swedish
      </mat-list-item>
      <mat-list-item>
        English
      </mat-list-item>
      <mat-list-item>
        German
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
